<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/profile.css" />

    <title>Profile Page</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/v logo.png"
    />
  </head>
  <body>

   

    <header>
      <div class="container">
        <div class="profile">
          <div class="profile-image">
            <img class="pi" src="static/images/Ayomikun.jpeg" alt="" />
          </div>
          <div class="profile-user-settings">
            <h1 class="profile-user-name">Mikun</h1>
              </button>
            </a>
          </div>
         
          <div class="epmty"></div>

          <div class="personal-info">
            <p>Department: Electrical Engineering</p>
            <p>Location: Oyo State</p>
            <p>Nigeria</p>
            <button><a href="{{url_for('matchmake')}}">Accept Match</a></button>
          </div>

          
        </div>
        <!--End of Profile Page-->
      </div>
      <!--End of Container-->
    </header>

    <div class="contain">
        <div class="timeline">
          <ul>
            <li>
              <div class="timeline-content">
                <h3 class="date">20th may, 2021</h3>
                <h1>Details of your best match</h1>
                <h1>Basic Informations</h1>
                <p>Email: myemail@gmail.com</p>
                <p>D.O.B: 23/05/99</p>
                <p>Home Address</p>
                <p>Course : Electrical Engineering</p>
                <p>Faculty of Technology</p>
                <p>4th year</p>
                <p>Loves to read at night</p>
                <p>Hobbies: Listening to music,Playing Games</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <!-- <script src="static/nav.js"></script> -->
  </body>
</html>
